---
---

<div class="dropdown-container">
  <p>CADASATROS</p>
  <a href="/manuais/funcionario">Funcionario</a>
  <a href="/manuais/usuario">Usuario</a>
  <a href="/manuais/cliente">Clientes</a>
  <a href="/manuais/fornecedor">Fornecedor</a>
  <a href="/manuais/desossa">Desossa</a>
  <a href="/manuais/gradeCor">Grade/Cor</a>
  <p>TREINAMENTO</p>
  <a href="/manuais/parametrosNFe">Parametrização NFe</a>
  <a href="/manuais/cadastrosNFe">Cadastros NFe</a>
  <a href="/manuais/emissaoNFe">NFe por Pedido</a>
  <a href="/funcionario">NFe Avulsa</a>
  <a href="/funcionario">Rejeições NFe</a>
  <p>CADASTROS AUXILIARES</p>
  <a href="/manuais/grupos">Cadastro de Grupos</a>
  <a href="/manuais/subGrupos">Cadastro de SubGrupos</a>
  <a href="/manuais/subSubGrupos">Cadastro de SubGrupos</a>
</div>

<style>
  div {
    width: 200px;
    /*border: 1px solid;
    border-color: red;*/
    overflow-y: scroll;
    /*height: 95vh;*/
    margin-top: 30px;
    padding-left: 30px;
    border-top: 4px rgb(220, 244, 255) solid;
    margin-left: 15px;
    padding-top: 20px;
  }

  a {
    padding: 4px 8px 6px 0px;
    text-decoration: none;
    font-size: 14px;
    color: #565656;
    border: none;
    background: none;
    display: grid;
    grid-template-columns: auto 1px;
    margin-right: 20px;
  }

  a:hover {
    background-color: rgb(220, 244, 255);
    /*background-color: rgb(221, 219, 255);*/
  }

  div::-webkit-scrollbar {
    width: 8px;
  }

  div::-webkit-scrollbar-thumb {
    background-color: rgb(195, 195, 195);
    border-radius: 20px;
    border: solid rgb(195, 195, 195);
  }
</style>
