---
---

<div class="dropdown-container">
  <p>CADASTROS</p>
  <a href="/manuais/funcionario">Funcionario</a>
  <a href="/manuais/usuario">Usuario</a>
  <a href="/manuais/cliente">Clientes</a>
  <a href="/manuais/fornecedor">Fornecedor</a>
  <a href="/manuais/prdComercioGeral">Cadastro de Produto Geral</a>
  <a href="/manuais/prdPizza">Produto Pizzaria</a>
  <a href="/manuais/prdBalanca">Produto de Balança</a>
  <a href="/manuais/prdGrade">Produto de Grade</a>
  <a href="/manuais/prdDesossa">Produto de Desossa</a>
  <a href="/manuais/desossa">Desossa</a>
  <p>CADASTROS AUXILIARES</p>
  <a href="/manuais/grupos">Cadastro de Grupos</a>
  <a href="/manuais/subGrupos">Cadastro de SubGrupos</a>
  <a href="/manuais/subSubGrupo">Cadastro de Sub-SubGrupos</a>
  <a href="/manuais/cores">Cadastro de Cores</a>
  <a href="/manuais/grades">Cadastro de Grade</a>
  <a href="/manuais/montadoraVeiculos">Cadastro Montadores de Veiculos</a>
  <a href="/manuais/veiculos">Cadastro de Veiculos</a>
  <a href="/manuais/servicos">Classificações de Serviços</a>
  <a href="/manuais/subServicos">Sub Classificação de Serviços</a>
  <a href="/manuais/frete">Cadastro Classificação de Frete</a>
  <a href="/manuais/grupoCenarioBi">Cadastro Grupos Cenarios e B.I</a>
  <a href="/manuais/consultaCenarioBi">Cadastro Consulta Cenarios e B.I</a>
  <a href="/manuais/controlePonto">Cadastro Controle de Ponto</a>
  <a href="/manuais/cargos">Cadastro de Cargos</a>
  <a href="/manuais/calendariosFeriados">Cadastro de Calendarios e Feriados</a>
  <a href="/manuais/mercadoLivre">Configuração Mercado Livre</a>
  <a href="/manuais/equipamentos">Cadastro de Equipamentos Grafica</a>
  <p>CADASTROS FISCAIS</p>
  <a href="/manuais/operacaoFiscal">Cadastro Operação Fiscal</a>
  <a href="/manuais/mensagemFiscal">Cadastro Mensagem Fiscal</a>
  <a href="/manuais/padraoTributario">Cadastro Padrão Tributario</a>
  <a href="/manuais/cfop">Cadastro CFOP</a>
  <a href="/manuais/paises">Cadastro de Países</a>
  <a href="/manuais/ncm">Cadastro de NCM</a>
  <a href="/manuais/ibpt">Cadastro IBPT</a>
  <a href="/manuais/cest">Cadastro CEST</a>
  <a href="/manuais/regraTributaria">Cadastro Regra Tributaria</a>
  <p>CADASTROS FINANCEIRO</p>
  <a href="/manuais/prazoPagamento">Cadastro Prazo Pagamento</a>
  <a href="/manuais/especieDocumento">Cadastro Especie Documento</a>
  <a href="/manuais/planoFinanceiro">Cadastro Plano Financeiro</a>
  <a href="/manuais/centroCusto">Cadastro Centro de Custo</a>
  <a href="/manuais/banco">Cadastro Bancos</a>
  <a href="/manuais/moeda">Cadastro Moedas</a>
  <a href="/manuais/operacaoBancaria">Cadastro Operação Bancaria</a>
  <a href="/manuais/contaCofre">Cadastro Contas/Cofre</a>
  <a href="/manuais/cartoes">Cadastro Administradora de Cartões</a>
  <a href="/manuais/intermediador">Cadastro Intermediador Comercial</a>
  <p>CADASTRO COMERCIAL</p><!--Finalizar-->
  <a href="/manuais/grupoCliente">Grupo de Clientes</a>
  <a href="/manuais/segmentoAtuacao">Segmento Atuação</a>
  <a href="/manuais/departamentos">Departamento</a>
  <a href="/manuais/rotas">Rotas</a>
  <p>CADASTRO ESTOQUE</p>
  <a href="/manuais/unidades">Cadastro Unidades Comerciais</a>
  <a href="/manuais/tipoLancamento">Cadastro Tipo de Lançamento</a>
  <a href="/manuais/localEstoque">Cadastro Local de Estoque</a>
  <p>CADASTRO EPIs</p>
  <a href="/manuais/epiAprovacao">Certificado de Aprovação EPI</a>
  <a href="/manuais/produtoEpi">Produto EPI</a>
  <a href="/manuais/movimentoEPI">Tipo Movimento EPI</a>
  <a href="/manuais/funcionarioEPI">Funcionario EPI</a>
  <a href="/manuais/entregaEPI">Entrega EPI</a>
  <p>AGRO</p>
  <a href="/manuais/cultivo">Cultivo</a>
  <a href="/manuais/statusProjeto">Status de Projetos</a>
  <a href="/manuais/projetosAgro">Tipo de Projetos</a>
  <a href="/manuais/fazendas">Fazendas</a>
  <p>COMPRAS</p>
  <a href="/manuais/ordemCompra">Ordem de Compra</a>
  <a href="/manuais/nfEntradaManual">Nota de Entrada Manual</a>
  <a href="/manuais/nfEntradaXML">Nota de Entrada por XML</a>
  <a href="/manuais/entradaDocumento">Entrada de Documentos</a>
  <a href="/manuais/controlePesagem">Controle de Pesagem</a>
  <p>VENDAS</p>

  <a href="/manuais/pedido1">Pedidos</a>
  <a href="/manuais/pedido2">Pedidos Mod. II</a>
  <!--
  <a href="#">Pedidos Mod. III</a>
   -->
  <a href="/manuais/pedidosPDV">Pedidos PDV</a>
  <a href="/manuais/consignado">Consignado</a>
  <a href="/manuais/trocas">Trocas</a>
  <!--
  <a href="/manuais/contratos">Contratos</a>
  <a href="#">Ordem de Carga</a>
  <a href="#">Ordem de Carga Mod. II</a>
  <a href="#">Ordem de Serviço</a>
  <a href="#">Consignado</a>
  <a href="#">Trocas</a>
  <a href="#">Controle de Vasilhames</a>
  <a href="#">Controle de Entregas</a>
  <a href="#">Previsão de Vendas</a>
  <a href="#">Separação de Pedidos</a>-->
  <p>CONTAS A RECEBER</p>
  <a href="/manuais/baixaTitulosReceber">Baixa de Titulos a Receber</a>
  <a href="/manuais/baixaCheque">Baixa de Cheque</a>
  <p>GRAFICA</p>
  <a href="/manuais/folhas">Cadastro Folhas</a>
  <a href="/manuais/custoGrafica">Cadastro de Custos</a>
  <a href="/manuais/parametrosServicosGrafica">Parâmetros de Serviço</a>
  <p>QUIMICA</p>
  <a href="/manuais/onuQuimica">Classificação Onu</a>
  <a href="/manuais/grupoEtapas">Grupo de Etapas</a>
  <a href="/manuais/etapaProducao">Etapa de Produção</a>
  <a href="/manuais/instrucaoTrabalho">Instruções de Trabalho</a>
  <a href="/manuais/estruturaProducao">Estrutura de Produção</a>
  <a href="/manuais/analiseFisica">Analise Fisica</a>
  <a href="/manuais/classificacaoProduto">Classificação de Produto</a>
  <a href="/manuais/instrumentos">Instrumentos</a>
  <a href="/manuais/mascaras">Máscaras</a>
  <a href="/manuais/ibama">Classificação IBAMA</a>
  <a href="/manuais/ghs">Cadastro GHS</a>
  <a href="/manuais/custoIndustrializacao">Custo de Industrialização</a>
  <a href="/manuais/lote">Cadastro de Lote</a>
  <p>CRM</p>
  <a href="/manuais/campanha">Cadastro Campanhas</a>
  <a href="/manuais/ondeConheceu">Onde Conheceu</a>
  <a href="/manuais/origemContato">Origem do Contato</a>
  <a href="/manuais/regioes">Regiões</a>
  <a href="/manuais/probabilidadeFechamento">Probabilidade de Fechamento</a>
  <a href="/manuais/statusLead">Status Lead</a>
  <p>TREINAMENTO</p>
  <a href="/manuais/parametrosNFe">Parametrização NFe</a>
  <a href="/manuais/cadastrosNFe">Cadastros NFe</a>
  <a href="/manuais/emissaoNFe">NFe por Pedido</a>
  <a href="/funcionario">NFe Avulsa</a>
  <a href="/funcionario">Rejeições NFe</a>
</div>

<style>
  div {
    padding-bottom: 30px;
  }
  p {
    font-weight: 700;
  }
  a {
    padding: 4px 8px 6px 0px;
    text-decoration: none;
    font-size: 14px;
    color: #565656;
    border: none;
    background: none;
    display: grid;
    grid-template-columns: auto 1px;
    margin-right: 20px;
    margin-left: 20px;
  }

  a:hover {
    background-color: rgb(220, 244, 255);
    /*background-color: rgb(221, 219, 255);*/
  }

  div::-webkit-scrollbar {
    width: 8px;
  }

  div::-webkit-scrollbar-thumb {
    background-color: rgb(195, 195, 195);
    border-radius: 20px;
    border: solid rgb(195, 195, 195);
  }
</style>
