---
---

<div class="dropdown-container">
  <a href="/cliente">Parametrização NFe</a>
  <a href="/fornecedor">Tipo de movimento</a>
  <a href="/funcionario">NFe por Pedido</a>
  <a href="/funcionario">NFe Avulsa</a>
  <a href="/funcionario">Rejeições NFe</a>
</div>

<style>
  div {
    width: 400px;
    /*border: 1px solid;
    border-color: red;*/
    overflow-y: scroll;
    height: 95vh;
    margin-top: 30px;
    padding-left: 30px;
    border-top: 4px rgb(220, 244, 255) solid;
    margin-left: 15px;
    padding-top: 20px;
  }

  a {
    padding: 4px 8px 6px 10px;
    text-decoration: none;
    font-size: 14px;
    color: #565656;
    border: none;
    background: none;
    display: grid;
    grid-template-columns: auto 1px;
    margin-right: 20px;
  }

  a:hover {
    background-color: rgb(220, 244, 255);
    /*background-color: rgb(221, 219, 255);*/
  }

  div::-webkit-scrollbar {
    width: 8px;
  }

  div::-webkit-scrollbar-thumb {
    background-color: rgb(195, 195, 195);
    border-radius: 20px;
    border: solid rgb(195, 195, 195);
  }
</style>
