---

---

<div class="dropdown-container">
  <a href="/cliente">CLIENTE</a>
  <a href="/fornecedor">FORNECEDOR</a>
  <a href="/funcionario">FUNCIONARIO</a>
  <a href="/usuario">USUARIO</a>
  <a href="/prd">CADASTRO DE PRODUTO</a>
  <a href="/prdEstoque">PARAMETRIZAÇÃO ESTOQUE</a>
  <a href="/prdLocalEstoque">PARAMETRIZAÇÃO LOCAL DE ESTOQUE</a>
  <a href="/prdBalanca">PARAMETRIZAÇÃO BALANÇA</a>
  <a href="/prdLote">PARAMETRIZAÇÃO LOTE</a>
  <a href="/prdGrade">PARAMETRIZAÇÃO GRADE</a>
  <a href="/gradeCor">CADASTRO GRADE/COR</a>
  <a href="/prdComposicao">PARAMETRIZAÇÃO COMPOSIÇÃO</a>
  <a href="/vasilhame">PARAMETRIZAÇÃO CONTROLE DE VASILHAME</a>
  <a href="/prazoPagamento">PRAZO DE PAGAMENTO</a>
  <a href="/#">TIPO DE MOVIMENTO ORDEM DE COMPRA</a>
  <a href="/#">TIPO DE MOVIMENTO NOTA DE ENTRADA</a>
  <a href="/#">TIPO DE MOVIMENTO PEDIDOS</a>
  <a href="/#">TIPO DE MOVIMENTO AMOSTRA</a>
  <a href="/#">TIPO DE MOVIMENTO TRANSFERÊNCIA</a>
  <a href="/#">TIPO DE MOVIMENTO NF-e</a>
  <a href="/#">TIPO DE MOVIMENTO CONSIGNADO</a>
  <a href="/#">TIPO DE MOVIMENTO ENTREGA DE EPI</a>
  <a href="/#">TIPO DE MOVIMENTO PRE-VENDA</a>
</div>

<style>
  div {
    width: 400px;
    /*border: 1px solid;
    border-color: red;*/
    overflow-y: scroll;
    height: 95vh;
    margin-top: 30px;
    padding-left: 30px;
  }

  a {
    padding: 4px 8px 6px 10px;
    text-decoration: none;
    font-size: 12px;
    color: #565656;
    border: none;
    background: none;
    display: grid;
    grid-template-columns: auto 1px;
    font: Arial, sans-serif;
  }

  div::-webkit-scrollbar {
    width: 8px;
  }

  div::-webkit-scrollbar-thumb {
    background-color: rgb(221, 219, 255);
    border-radius: 20px;
    border: solid rgb(221, 219, 255);
  }
</style>
