---
import Layout from "../../layouts/Layout.astro";
import "./style.css";
---

<Layout title="Baixa de Cheque">
  <main>
    <h1>Baixa de Cheque</h1>

    <p>Acesse o Menu/ Contas a receber/ Baixa de Cheque.</p>

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>17/01/2023</p>
    </div>
  </main>
</Layout>
