---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="teste">
  <main>
    <h1>Desossa</h1>

    <p>
      Cadastro de Produto <a href="/funcionario" target="_blank">Clique aqui.</a
      >
    </p>
    <p>
      Após o cadastro do produto, em Parâmetros do Produto.Após o cadastro do
      produto, em Parâmetros do Produto.Após o cadastro do produto, em
      Parâmetros do Produto.Após o cadastro do produto, em Parâmetros do
      Produto.
    </p>
    <p>Sendo produto de Desossa marcar o parametro “Controlado Por Desossa”.</p>

    <p>Na aba Estoque, Composições.</p>
    <p>
      Nesta aba informar quais peças de carnes fazem parte da Novilha traseira,
      Dianteira, do Jacaré ou Banda.
    </p>
    <p>Neste exemplo temos uma peça que é composta por Picanha e Acem.</p>
    <p>Não necessita ser informada a quantidade.</p>

    <p>
      Nota de entrada <a href="/funcionario" target="_blank">Clique aqui.</a>
    </p>

    <h3>Controle de Desossa</h3>
    <p>Acessar o Menu Compras / Controle de Desossa.</p>

    <p>Clique no + para iniciar um novo controle.</p>

    <p>
      Será disponibilizada a tela contendo as Notas Fiscais que contem os
      produtos de Desossa para escolha.
    </p>

    <p>Lembrando que é possivel realizar apenas um produto por desossa.</p>

    <p>Acesse o Menu / Relatórios para impressao do controle.</p>

    <p>
      Após entrega ao açougueiro preencher as quantidades das peças por kilo.
    </p>

    <p>
      Conforme vão sendo informadas as quantidades das peças, o sistema calcula
      o % de percas para serem adicionadas ao custo.
    </p>

    <p>Ao término do processo Acesse o Menu Ferramentas e Efetivar Desossa.</p>
    <p>
      Será disponibilizada a tela contendo as Notas Fiscais que contem os
      produtos de Desossa para escolha.
    </p>

    <p>Lembrando que é possivel realizar apenas um produto por desossa.</p>

    <p>Acesse o Menu / Relatórios para impressao do controle.</p>

    <p>
      Após entrega ao açougueiro preencher as quantidades das peças por kilo.
    </p>

    <p>
      Conforme vão sendo informadas as quantidades das peças, o sistema calcula
      o % de percas para serem adicionadas ao custo.
    </p>

    <p>Ao término do processo Acesse o Menu Ferramentas e Efetivar Desossa.</p>
    <p>Ao término do processo Acesse o Menu Ferramentas e Efetivar Desossa.</p>
    <p>
      Será disponibilizada a tela contendo as Notas Fiscais que contem os
      produtos de Desossa para escolha.
    </p>

    <p>Lembrando que é possivel realizar apenas um produto por desossa.</p>

    <p>Acesse o Menu / Relatórios para impressao do controle.</p>

    <p>
      Após entrega ao açougueiro preencher as quantidades das peças por kilo.
    </p>

    <p>
      Conforme vão sendo informadas as quantidades das peças, o sistema calcula
      o % de percas para serem adicionadas ao custo.
    </p>

    <p>Ao término do processo Acesse o Menu Ferramentas e Efetivar Desossa.</p>
  </main>
</Layout>

<style>
  main {
    width: 100vw;
    padding: 0px 50px 0px 100px;
  }
</style>
