---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/centroCusto/img1.png";
---

<Layout title="Administradora de Cartões">
    <main>
        <h1>Cadastro Administradora de Cartões</h1>
  
        <p>Acessar o Menu/ Cadastros / Financeiro/ Administradora de Cartões:</p>
        <img src={img1} alt="" />
        <img src="" alt="">
      
        <p>Administradora de Cartões é utilizada para registrar os recebimentos no Checkout ou baixas no contas a receber.</p>
        <p>Ao registrar o valor, o sistema já provisiona o recebimento e debita o valor da tarifa da taxa da maquininha.</p>
        <img src="" alt="">

        <p>Informe o nome da operadora ou bandeira, e para auxiliar, informe se é Débito ou Crédito.</p>
        <img src="" alt="">

        <p>Informar a espécie de Cartão Débito ou Crédito para ser filtrado em suas respectivas telas.</p>
        <img src="" alt="">

        <p>Escolha uma bandeira caso o cadastro seja específico.</p>
        <img src="" alt="">

        <p>Escolha a operadora do SAT.</p>
        <img src="" alt="">

        <p>Informar o Tipo de Integração TEF(pagamento automático da maquininha) ou POS (digitado manualmente).</p>
        <img src="" alt="">

        <p>Informar o % da taxa de uso que será convertido em valor a ser debitado na operação por parcela.</p>
        <img src="" alt="">

        <p>Informar um valor de tarifa que é adicionado por parcela (caso necessário). </p>
        <img src="" alt="">

        <p>Assinalar se o tipo de operadora ou cartão é Vale Alimentação, utilizado para filtro específico no Checkout.</p>
        <img src="" alt="">

        <p>Informar a quantidade máxima de parcelas permitida para este cartão ou operadora.</p>
        <img src="" alt="">

        <p>Informar o prazo (quantidade de dias) após a venda que será creditado o valor da operação, descontando a tarifa.</p>
        <img src="" alt="">

        <div class="rodape">
            <p><b>Criado por:</b> Bruno Pires da Silva.</p>
            <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
            <p><b>Data Revisão:</b>19/12/2022</p>
        </div>
    </main>
</Layout>