---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/equipamentos/img1.png";
import img2 from "../../imagens/equipamentos/img2.png";
---

<Layout title="Cadastro Equipamentos">
  <main>
    <h1>Cadastro Equipamentos</h1>

    <p>Acessar Cadastros /Auxiliares /Equipamentos:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />
  </main>
</Layout>
