---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/importaPrecoExcel/img1.png";
import img2 from "../../imagens/importaPrecoExcel/img2.png";
---

<Layout title="Importar preços de Custo por Excel">
  <main>
    <h1>Importar preços de Custo por Excel</h1>

    <p>Acessar Estoque/ Importar preços de Custo por Excel:</p>
    <img src={img1} alt="" />

    <p>
      Recurso utilizado para importar tabela de preço de custo para o Excel.
    </p>
    <p>Escolha o local do arquivo e clique em ok.</p>
    <img src={img2} alt="" />

    <p></p>

    <div class="rodape">
      <p><b>Criado por:</b> Bruno Pires da Silva.</p>
      <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
      <p><b>Data Revisão:</b>10/02/2023</p>
    </div>
  </main>
</Layout>
