---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/centroCusto/img1.png";
---

<Layout title="Intermediador Comercial">
    <main>
        <h1>Cadastro Intermediador Comercial</h1>
  
        <p>Acessar o Menu/ Cadastros / Financeiro/ Intermediador Comercial:</p>
        <img src={img1} alt="" />
        <img src="" alt="">

        <p>Para emissão de Notas Fiscais Eletrônicas em que o processo de venda ocorreu através de plataformas de e-commerce, precisa ser informado o intermediador da Operação, pois em caso de venda pela em sites na internet normalmente não é o consumidor que realizou a compra que faz o pagamento, e sim uma intermediadora após a confirmação do recebimento do produto.</p>
        <img src="" alt="">

        <p>Informar o nome da plataforma ou intermediadora.</p>
        <img src="" alt="">

        <p>Informar o CNPJ da intermediadora.</p>
        <img src="" alt="">

        <p>Informar o nome do Perfil do Usuário.</p>
        <img src="" alt="">

        <p>Caso necessário, campo destinado a observações.</p>
        <img src="" alt="">

        <div class="rodape">
            <p><b>Criado por:</b> Bruno Pires da Silva.</p>
            <p><b>Revisado por:</b> Bruno Pires da Silva.</p>
            <p><b>Data Revisão:</b>19/12/2022</p>
        </div>
    </main>
</Layout>