---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/operacaoFiscal/img1.png";
import img2 from "../../imagens/padraoTributario/img1.png";
import img3 from "../../imagens/padraoTributario/img2.png";
import img4 from "../../imagens/padraoTributario/img3.png";
import img5 from "../../imagens/padraoTributario/img4.png";
import img6 from "../../imagens/padraoTributario/img5.png";
import img7 from "../../imagens/padraoTributario/img6.png";
import img8 from "../../imagens/padraoTributario/img7.png";
import img9 from "../../imagens/padraoTributario/img8.png";
import img10 from "../../imagens/padraoTributario/img9.png";
import img11 from "../../imagens/padraoTributario/img10.png";
import img12 from "../../imagens/padraoTributario/img11.png";
import img13 from "../../imagens/padraoTributario/img12.png";
import img14 from "../../imagens/padraoTributario/img13.png";
import img15 from "../../imagens/padraoTributario/img14.png";
import img16 from "../../imagens/padraoTributario/img15.png";
---

<Layout title="Cadastro Padrão Tributario">
  <main>
    <h1>Cadastro Padrão Tributario</h1>

    <p>Acessar Cadastros /Fiscais /Padrão Tributario:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />
  </main>
</Layout>
