---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/parametrosNFe/img1.png";
---

<Layout title="Parametrização NFe">
  <main>
    <h1>MANUAL PARAMETROS GERAIS / FATURAMENTO</h1>

    <p>Acessar Sistema / Opções / Parâmetros Gerais / Faturamento</p>
    <img src={img1} alt="" />
  </main>
</Layout>
