---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/pedido3/img1.png";
---

<Layout title="Pedido Mod. III">
  <main>
    <h1>Pedido Modelo III</h1>

    <p>Acessar o Menu/ Vendas / Pedidos Mod. III:</p>
    <img src={img1} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>26/01/2023</p>
    </div>
  </main>
</Layout>
