---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/prazoPagamento/img1.png";
import img2 from "../../imagens/planoFinanceiro/img1.png";
import img3 from "../../imagens/planoFinanceiro/img2.png";
---

<Layout title="Cadastro Plano Financeiro">
  <main>
    <h1>Cadastro Plano Financeiro</h1>

    <p>Acessar Cadastros /Financeiro /Plano Financeiro:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />

    <p>Clique em novo para iniciar o cadastro de um novo Plano Financeiro.</p>
    <img src={img3} alt="" />
  </main>
</Layout>
