---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/prdBalanca/img1.png";
import img2 from "../../imagens/prdBalanca/img2.png";
import img3 from "../../imagens/prdBalanca/img3.png";
import img4 from "../../imagens/prdBalanca/img4.png";
---

<Layout title="Cadastro Prd Balança">
    <main>
        <h1>CADASTRO DE PRODUTO DE BALANÇA</h1>

        <p>Para acessar manual completo de cadastro de produtos, 
            <b><a href="/manuais/prdComercioGeral" 
            target="_blank">
            clique aqui!</a></b>
        </p>

        <h4>Parâmetros do Produto</h4>
        <p>Sendo produto de Balança deve ser marcado a opção “Exportar p/ Balança” e caso o produto seja vendido pesado, fracionado ou a granel deve ser sinalizada a opção “Fracionado”.
        </p>
        <img src={img1} alt="">

        <h4>Aba Parametros Etiqueta de Balança</h4>
        <p>Em Dados Balança são informações extras ou complementares, se marcado a opção “contem Inf. Extras” devem ser preenchidas as informações.
        </p>
        <p>Informar se o produto será vendido em unidade ou peso. Informar o prazo de validade do produto para ser utilizado no aplicativo da balança.
        </p>
        <p>Marcando a opção “contem Inf. Nutricionais” as Abas Ddos Nutricionais e Observações Nutricionais ficarão disponiveis.
        </p>
        <img src={img2} alt="">

        <h4>Aba Dados Nutricionais
        </h4>
        <p>Preencher todos os campos das Informações Nutricionais.
        </p>
        <img src={img3} alt="">

        <h4>Aba Observações Nutricionais
        </h4>
        <p>Caso necessário informar o conteúdos dos campos Ingredientes, Preparo, Ingredientes, Orientação, Observações Nutricionais.
        </p>
        <img src={img4} alt="">
    </main>
</Layout>