---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/prdPizza/img1.png";
---

<Layout title="Cadastro Prd Lote">
    <main>
        <h1>CADASTRO DE PRODUTO COM LOTE</h1>

        <p>Para acessar manual completo de cadastro de produtos, 
            <b><a href="/manuais/prdComercioGeral" 
            target="_blank">
            clique aqui!</a></b>
        </p>

        <p>Manual está igual ao comercio geral</p>
    </main>
</Layout>