---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/previsaoVendas/img1.png";
import img2 from "../../imagens/previsaoVendas/img2.png";
import img3 from "../../imagens/previsaoVendas/img3.png";
import img4 from "../../imagens/previsaoVendas/img4.png";
---

<Layout title="Previsao de Vendas">
  <main>
    <h1>Previsao de Vendas</h1>

    <p>Acessar o Menu/ Vendas/ Previsao de Vendas:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />
    <img src={img3} alt="" />
    <img src={img4} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>13/02/2023</p>
    </div>
  </main>
</Layout>
