---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/previsaoVendas/img1.png";
import img2 from "../../imagens/previsaoVendas/img2.png";
import img3 from "../../imagens/previsaoVendas/img3.png";
import img4 from "../../imagens/previsaoVendas/img4.png";
---

<Layout title="Previsao de Vendas">
  <main>
    <h1>Previsao de Vendas</h1>

    <p>
      A previsão de vendas é utilizado para fazer uma comparação entre a
      previsão e o que realmente foi vendido.
    </p>
    <p>Acessar o Menu/ Vendas/ Previsao de Vendas:</p>
    <img src={img1} alt="" />

    <p>É possivel criar apenas uma Previsão por ano.</p>
    <p>
      Na tela de Previsão de Vendas, é importante informar o ano referente a
      previsão, e o valor previsto de vendas para acada mês.
    </p>
    <img src={img2} alt="" />

    <p>
      Em Ferramentas clicando em Reajustar Valores, é possivel aumentar ou
      diminuir o valor previsto de todos os meses através de um percentual.
    </p>
    <img src={img3} alt="" />

    <p>
      E em Relatórios - Análise Comparativa, é possivel gerar o relatório
      comparando a previsão e o valor real das vendas passadas.
    </p>
    <img src={img4} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>13/02/2023</p>
    </div>
  </main>
</Layout>
