---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/previsoes/img1.png";
import img2 from "../../imagens/previsoes/img2.png";
import img3 from "../../imagens/previsoes/img3.png";
---

<Layout title="Previsões">
  <main>
    <h1>Lançamento de Previsões</h1>

    <p>Acessar o Menu/ Contas a Pagar / Previsões:</p>
    <img src={img1} alt="" />
    <img src={img2} alt="" />
    <img src={img3} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>26/01/2023</p>
    </div>
  </main>
</Layout>
