---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/separacaoPedidos/img1.png";
import img2 from "../../imagens/separacaoPedidos/img2.png";
import img3 from "../../imagens/separacaoPedidos/img3.png";
import img4 from "../../imagens/separacaoPedidos/img4.png";
---

<Layout title="Separação de Pedidos">
  <main>
    <h1>Separação de Pedidos</h1>

    <p>Acessar o Menu/ Vendas/ Separação de Pedidos:</p>
    <img src={img1} alt="" />

    <p>
      No bloco superior, o sistema irá apresentar todos os pedidos que ainda não
      passaram por separação. E no bloco inferior, o sistema irá apresentar
      todos os itens referente ao pedido que está selecionado.
    </p>
    <p>
      Após selecionar os pedidos e itens, bastar clicar em Ferramentas -
      Efetivar Separações.
    </p>
    <p>Após o pedido ser separado, ele não irá mais aparecer nessa tela.</p>
    <img src={img2} alt="" />

    <p>
      Caso seja necessário estornar a separação, por qualquer motivo, basta ir
      em Ferramentas - Estornar Separação.
    </p>
    <img src={img3} alt="" />

    <p>
      O sistema abrirá essa tela para que seja selecionado todos os itens que
      deseja estornar a separação, e em seguida basta clicar em Transportar.
    </p>
    <img src={img4} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>01/03/2023</p>
    </div>
  </main>
</Layout>
