---
import Layout from "../../layouts/Layout.astro";
import "./style.css";

import img1 from "../../imagens/separacaoPedidos/img1.png";
---

<Layout title="Separação de Pedidos">
  <main>
    <h1>Separação de Pedidos</h1>

    <p>Acessar o Menu/ Vendas/ Separação de Pedidos:</p>
    <img src={img1} alt="" />

    <div class="rodape">
      <p><b>Criado por:</b> Eduardo Cintra.</p>
      <p><b>Revisado por:</b> Eduardo Cintra.</p>
      <p><b>Data Revisão:</b>13/02/2023</p>
    </div>
  </main>
</Layout>
