main {
    padding: 0px 50px 50px 50px;
  }
  p {
    font-size: 14px;
  }

  h1 {
    font-weight: 1000;
    font-size: 45px;
  }

  h2 {
    font-size: 30px;
  }

  img {
    margin-bottom: 15px;
    max-width:100%;
	  height:auto;
  }