---
import img from "../logo/N2Logo_Completo_Blue (1).png";
---

<div>
  <img src={img} alt="" height="70" width="180" />
  <input type="checkbox" id="checkbox" class="checkbox" />
  <label for="checkbox" class="label-menu"
    >Menu<span class="hamburguer"></span>
  </label>
</div>

<style>
  div {
    padding-top: 50px;
    padding-left: 20px;
    border-bottom: 1px solid rgb(182, 182, 182);
    width: 100vw;
    height: 90px;
    /*background-image: linear-gradient(
      rgb(210, 237, 255),
      rgb(210, 237, 255),
      rgb(245, 251, 255)
    );*/
    /*background-color: #4286b4;*/
    background-image: linear-gradient(
      to bottom right,
      #0085ff,
      rgb(245, 251, 255)
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .label-menu,
  .checkbox {
    display: none;
    margin-right: 50px;
    font-weight: bold;
    cursor: pointer;
    gap: 0.5rem;
  }

  .hamburguer {
    border-top: 0.125rem solid;
    width: 1.25rem;
  }

  .hamburguer::before,
  .hamburguer::after {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
  }

  @media (max-width: 800px) {
    .label-menu {
      display: flex;
    }
  }

  @media (max-width: 350px) {
    img {
      display: none;
    }
    div {
      justify-content: flex-end;
    }
  }
</style>
