---
import img from "../logo/N2Logo_Completo_Blue (1).png";
---

<div>
  <img src={img} alt="" height="70" width="170" />
</div>

<style>
  div {
    width: 100vw;
    height: 50px;
    padding-top: 30px;
    padding-left: 30px;
    margin: 0px;
    margin-bottom: 30px;
  }
</style>
