---
import img from "../logo/N2Logo_Completo_Blue (1).png";
---

<div>
  <img src={img} alt="" height="70" width="180" />
</div>

<style>
  div {
    padding-top: 50px;
    padding-left: 50px;
    border-bottom: 0.5px black solid;
    width: 100vw;
    height: 100px;
    background-color: white;
  }
</style>
