---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import Menu from "../components/Menu/menu.astro";
import Cabecalho from "../components/logo/cabecalho.astro";
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Cabecalho />
    <main>
      <Menu />
      <slot />
    </main>

    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: rgb(245, 245, 255);
        overflow-x: hidden;
        /*overflow-y: hidden*/
        height: 100vh;
    scrollbar-width: thin;
        
        
      }
      main {
        display: flex;
      }
      body::-webkit-scrollbar {
    width: 8px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgb(221, 219, 255) /*rgba(0, 43, 108, 255)*/;
    border-radius: 20px;
    border: solid rgb(221, 219, 255);
  }
      
    </style>
  </body>
</html>
